*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    
  
}
/*for vertical line*/
.vl {
    border-left: 4px solid black;
    height: 569px;
    margin-left: 50px;
  }
  /*vertical line*/
.vl2 {
    border-left: 4px solid black;
    height: 700px;
    margin-left: 50px;
  }
  /*icon on the left side */
.icon{
    padding-top: 20%;
    padding-left: 0.8%;
    float: left;
    width: 00%;
    position: fixed;
    justify-content: space-between;
    
}
/*complete header part*/
header{
    padding-top: 3px;
    font-size: 16.5px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*when hovered on the links*/
header a :hover{
    color: red;
    transition: .4s;
}
/*search bar on the navigation*/
nav input[type=text]{
    border: 1px solid black;
    padding: 1%;
    border-radius: 10%;
    font-size: 14px;
    justify-content: space-around;
    color: black;
    padding: 4px 5px;
    border-radius: 30px;  
}
/*logo*/
header .logo{
    width: 70px;
    padding: auto;
}
header .logo img{
    width: 100%;
}
/*navigation bar, lists and links*/
header nav{
    display:flex;
    font-family: 'Outfit', sans-serif;
}
 nav li{
    margin: 0px 15px;
    
}
header nav li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    
} 
/*when hovered over the nav links*/
header nav li a:hover{
    color: red;
    transition: .4s;
}
a:active{
    color: red;
}
/*content of the page*/
.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    line-height: 0p;
}
.container h1{
    margin: 10px 0px;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Orbitron', sans-serif;
}
/*span color change for particular word*/
.color_change{
    font-family: 'Racing Sans One', cursive;
}
/*buy now link*/
.container .linkcart a{
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    border: 1px solid ;
    display: inline-block;
    background-color:black;
    text-align: center;
    color: white;
    padding: 10px 20px; 
    border-radius: 30px;  

}
/*logo of nike and air jordan*/
.container .cross{
    width: 80px;
    display: flex;
    padding-left: 15%;
    
}
.container .cross img{
    width: 90px;
}
/*content below the cross class*/
.container .content{
    margin-top: 5%;
    position: relative;
    width: 49%;
}
.container .section{
    padding-left: 20%;
}
/*at the bottom of the page*/
.smaller_shoes{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -30%;
    
}
.smaller_shoes img{
    width: 100px;
    margin: 0px 15px;
    text-align: center;
    
}
/*when clicked this will appear with the styling*/
.bgimg{
    text-align: right;
    position: relative;
}
.bgimg img{
    width: 80%;

}
/*styling at the back of the bgimg*/
.shadow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 105%;
    height: 100%;
    background: #85b8ea ;
    z-index: -1;
    clip-path: circle(250px at 500px 165px)
}
.smaller_shoes img.change{
    border: 2px solid #85b8ea;
    padding: 10px;
    border-radius: 10%;
}
/*transition when hovered over the small shoes*/
.trans{
    transition: 0.5s;
}
.trans:hover{
    transform: translateY(-10px);
}

/* What's New */
/*top heading of the page*/
.summer{
    font-size: 58px;
    margin-bottom: 5px;
    letter-spacing: 3px;
    font-family: 'Monomaniac One', sans-serif;
}
/*text below the heading*/
.some-txt{
    text-align: center;
    font-size: 18px;
    font-family: 'Abel', sans-serif;
}
/*the four image styling*/
.new_images{
    display: flex;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 4%;
}
.new_images img{
    margin: 10px;
}
/*4 images were added under class slide with its content heading*/
.slide{
    text-align: center;
    width: 270px;
    overflow: hidden;
    padding-left: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
}
/*color change when hovered over the text*/
.slide:hover{
    transition: 0.4s;
    color: red;
}
/*transition of image when hovered */
.slide img{
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.slide:hover img{
    transform: scale(1.1);
}
/*icons on top corner of the page*/
#cart-icon{
    cursor: pointer;
    font-size: 1.3rem;
}
#icons-left{
    cursor: pointer;
    font-size: 1.3rem;
}
#icons-right{
    cursor: pointer;
    font-size: 1.3rem;
}
footer{
    background-color: #000;
    color: white;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding: 10px;
}